
<div align="center">

<%= gravatar_for @user, size: 150 %>

<% if current_user.id == @user.id %>

<a href="/users/<%= @user.id %>/edit"><h1><%= @user.first_name %> <%= @user.last_name %></h1>
<span class="glyphicon glyphicon-pencil
"></span></a>

<% else %>

<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<% end %>

</div>
